.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.medications-sidebar {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: -20px 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: #1b2a2f;
    padding-bottom: 20px;
}

.search-and-answers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
    color: white;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}


.search-button {
    appearance: button;
    background-color: #38ef7d;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 9px 12px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 25%;
    height: 60px;
}

.search-button:after {
    background-clip: padding-box;
    background-color: #11998e;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.search-button:main,
.search-button:focus {
    user-select: auto;
}

.search-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.search-button:disabled {
    cursor: auto;
}

.search-button:active {
    border-width: 4px 0 0;
    background: none;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    resize: none;
    box-sizing: border-box;
    height: 42px;
    max-height: 150px;
    line-height: 1.4;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
        padding-bottom: 10px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #9b9b9b;
}

.form__field.has-content,
.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field.has-content~.form__label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.selectors {
    display: flex;
    flex-direction: row;
}

.custom-select {
    min-width: 70px;
    border-radius: 5px;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    width: 10%;
    font-size: 1.15rem;
    padding-left: 10px;
    background-color: #222222;
    border: 1px solid #caced1;
    color: #caced1;
    cursor: pointer;
    height: 60px;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222324;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.drug-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%);
    border: 1px solid #11998e;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}

.drug-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* Ensure the content uses the full width of the card */
    padding: 20px;
    /* Adds padding inside the card */
}

.drug-info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%
        /* Space above the rating */
}

.drug-meta {
    flex: 0 0 200px;
    /* Sets the width of the right column and prevents it from growing */
    padding-left: 20px;
    /* Adds padding to the left of the right column */
    /* Aligns the text to the left */
}

.drug-usage {
    font-size: 0.9em;
    color: #c9c8c8;
    list-style-type: disc;
    padding: 0;
    /* Removes default padding */
    margin: 0;
    /* Removes default margin */
}

.drug-usage li {
    padding: 2px 0;
    /* Adds some spacing between usage items */
}


.drug-meta {
    flex-basis: 200px;
    /* Adjust the width as needed */
    /* Aligns the text to the right */
}

.drug-title {
    margin: 0;
    padding-bottom: 10px;
    color: rgb(190, 224, 197);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 1;
}

.drug-description {
    margin: 0;
    color: #e0e2e1;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.drug-score {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.drug-adverse-events {
    margin-top: 10px;
    margin-bottom: 0px;
}

.drug-adverse-events h4 {
    margin: 0 0 5px 0;
    font-size: 1em;
    color: #c9c8c8;
}

.drug-adverse-events ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.drug-adverse-events li {
    font-size: 0.9em;
    color: #bababa;
}

.drug-rating {
    margin-top: 10px;
    font-weight: bold;
    color: #8de0b6;
}

.drug-median-age {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: bold;
    color: #8de0b6;
}

.drug-usage,
.drug-adverse-events,
.drug-median-age {
    margin: 10px 0;
}

.drug-usage li,
.drug-adverse-events li {
    list-style-type: disc;
    margin-left: 20px;
    /* Indent list items */
    font-size: 0.9em;
}

.drug-median-age {
    font-size: 0.9em;
    /* text-align: left;
    align-self: left;
    margin-top: auto */
}

.drug-rating {
    font-size: 0.9em;
    /* text-align: right; */
    /* Centers the rating text */
    /* align-self: right; */
    /* Centers the rating div in the card */
    /* margin-top: auto; */
    /* Pushes the rating to the bottom */
}

.drug-adverse-events-title {
    font-size: 1.1em;
    /* Adjust the font size as needed */
    color: #e0e2e1;
    /* This is a light grey color; change as needed */
    font-weight: bold;
    /* Makes the title bold */
    margin-top: 20px;
    /* Adds space above the title */
    margin-bottom: 5px;
    /* Adds space below the title */
    font-family: 'Open Sans', sans-serif;
    /* This is assuming you're using the Open Sans font */
    margin-right: 20px;
}

.flexing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.row-flexing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.row-flexing-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.star-empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.star-filled {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.star-full {
    fill: url(#starGradient);
}


/* MEDICATIONS SEARCH STYLING */
.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.CardInner {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.Icon {
    padding: 10px;
    margin-right: 10px;
}

.CardInner label {
    position: relative;
    display: inline-block;
    justify-content: center;
    color: #9b9b9b;
    font-size: 1.5rem;
    padding: 20px;
    padding-bottom: 5px;
    padding-right: 0px;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #11998e;
    animation: animate-underline 8s infinite ease-in-out;
}

@keyframes animate-underline {

    0%,
    100% {
        width: 0%;
        left: 50%;
    }

    25%,
    75% {
        width: 100%;
        left: 0;
    }

    50% {
        width: 0%;
        left: 100%;
    }
}

.InputContainer input {
    width: 90%;
    padding: 10px;
    height: 40px;
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: #9b9b9b;
    font-weight: 600;
    font-size: 1.3rem;
    color: #9b9b9b;
    transition: all 240ms ease-out;
    padding-bottom: 6px;
}

.InputContainer input:focus {
    background-color: #FFFFFF;
    color: #11998e;
    background-color: lighten(#e3edf7, 3%);
}

.InputContainer input:focus+.InputContainer {
    border-image: linear-gradient(to right, #11998e, #38ef7d) 1;
}

.InputContainer {
    width: 75%;
    position: relative;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-image-slice 0.3s ease-out, border-image-source 0.3s ease-out;
    padding-top: 10px;

    /* &:before,
    &:after {
        left: 0;
        top: 0;
        display: block;
        content: "";
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:before {
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, .7);
    }

    &:after {
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, .7);
    } */
}


.autocomplete-items {
    text-align: left;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.tag-list {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag {
    background: linear-gradient(to right, #11998e, #38ef7d);
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-weight: 800;
    color: #FFFFFF;
    animation: bounce 300ms alternate infinite cubic-bezier(.2, .65, .6, 1);
}

.tag span {
    margin-right: 10px;
}

.tag button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-5px);
    }
}